<ion-content class="bg-image">
  <div class="genius-img-content">
    <img src="../../assets/icon.png" class="image-animation">
    <img src="../../assets/text.png" class="text-animation">
  </div>

</ion-content>
























<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Genius
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="content">
    <div class="win-rounds">
      <p>Rodadas acertadas</p>
      <div class="rounds">
        {{rounds}}
      </div>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let color of avaliableColors">
          <div class="color_{{color.id}}" [style.background]="color.color" (click)="selectColor(color)"></div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div *ngIf="showReset" style="text-align: center;">
      <ion-button color="primary" (click)="ngOnInit()">Recomeçar</ion-button>
    </div>
  </div>
</ion-content> -->